/* TODO: please review names of the classes and check where they are used. They are not descriptive. */
/* TODO: 
  There are 2 approaches to style the app that you can apply.
  1. Write all styles in the one file. In our case it could beApp.css file.
  2. Separate styles by components. So each component will have its own css file.
  In terms of the size of our app lets use the 1st approach. 
*/
body {
  display: flex;
  flex-direction: column;
}

.con {
  /* width: 500px; */
  /* height: 400px; */
  display: flex;

  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
.con > div {
  display: flex;
  gap: 20px;
}

.d {
  width: 150px;
  height: 150px;

  -webkit-box-shadow: 0px 0px 12px 4px rgba(128, 129, 144, 1);
  -moz-box-shadow: 0px 0px 12px 4px rgba(128, 129, 144, 1);
  box-shadow: 0px 0px 12px 4px rgba(128, 129, 144, 1);
  margin: 0;
  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(186, 14, 14);
  font-size: 90%;
}
.d2 {
  width: 150px;
  height: 150px;

  -webkit-box-shadow: 0px 0px 12px 4px rgba(128, 129, 144, 1);
  -moz-box-shadow: 0px 0px 12px 4px rgba(128, 129, 144, 1);
  box-shadow: 0px 0px 12px 4px rgba(128, 129, 144, 1);
  margin: 0;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(14, 14, 162);
  font-size: 90%;
}
.d:hover {
  width: 160px;
  height: 160px;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 31px 4px rgba(128, 129, 144, 1);
  -moz-box-shadow: 0px 0px 31px 4px rgba(128, 129, 144, 1);
  box-shadow: 0px 0px 31px 4px rgba(128, 129, 144, 1);
}
.d2:hover {
  width: 160px;
  height: 160px;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 31px 4px rgba(128, 129, 144, 1);
  -moz-box-shadow: 0px 0px 31px 4px rgba(128, 129, 144, 1);
  box-shadow: 0px 0px 31px 4px rgba(128, 129, 144, 1);
}

.newGame {
  font-size: 22px;
  background-color: rgb(19, 19, 255);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  color: white;
}
.endWindowHidden {
  display: none;
}
.endWindow {
  padding: 20px;

  color: black;
  font-size: 34px;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.span0 {
  color: blue;
}
.spanX {
  color: red;
}
center {
  width: 100%;
  height: 100%;
}
.p {
  color: rgb(186, 14, 14);
  font-size: 30px;
}
.p2 {
  color: rgb(14, 14, 162);
  font-size: 30px;
}
.historyDisplay {
  width: 300px;
  /* position: absolute;
  
  top: 370px;
  left: 75px; */
  background-color: rgba(179, 179, 179, 0.842);
  border-radius: 20px;
  padding: 20px 30px;
  scroll-snap-type: inherit;
  height: 300px;
  overflow-y: auto;
}
.historyDisplay > p {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0 0 20px;
  gap: 10px;
}

.return-btn {
  font-size: 13px;
  background-color: rgb(19, 19, 255);
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  color: white;
}
.check {
  /* position: absolute;
  top: 110px;
  left: 90px; */
  width: 20px;
  height: 20px;
}
.settingsCon {
  padding: 20px;
  /* position: absolute;
  top: 50px;
  left: 75px; */
  background-color: rgba(179, 179, 179, 0.636);
  border-radius: 20px;
  width: 320px;
  margin: 0 0 10px 0;
}
.inp {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}
.inpP {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}
.inp > input {
  height: 20px;
}
.inpP > input {
  height: 20px;
  width: 65%;
  outline: none;
  border: none;
}

.btn {
  background-color: rgb(19, 19, 255);
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  color: white;
}
.spanDraw {
  color: black;
  font-size: 34px;
  margin: 0;
}
.inf {
  font-size: 10px;
  color: red;
  text-decoration: underline;
}

.display {
  width: 100vw;
  margin: 0 0 0 50px;
  display: flex;
  justify-content: flex-start;
  gap: 130px;
}
.left-div {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 70px;
}
.right-div {
  display: flex;
  flex-direction: column;
}
.winnerCon {
  margin: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
